body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.container{
    width: 90%; 
    min-width: 450px;
    height: 100vh;
    margin: 0 auto;
    background: white;
}

header {
    width: 40%;
    margin: 5% auto 0;
}

header input{
    font-size: 15px;
    border: 2px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    border-radius: 5px;
}

#addTodo {
    float: right;
    width: 10%;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #000000;
    border: none;
    color: #ffffff;
}

.todoCard{
    width: 70%;
    padding: 5px 10px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: default;
    margin: 0 auto;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}

.delete {
    background-color: #000;
    color: #ffffff;
}

.pinStyle, .delete {
    height: 2.5em;
    width: 2.5em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left : 2%;
    flex-grow: 1;
}

.completed{
    text-decoration: line-through;
}

.checkBox {
    margin-right: 2%;
    flex-grow: 1;
    accent-color: #000;
}

.inputSpan {
    margin-top: 1%;
    padding: 1% 5% 1% 1%;
    width: 60%;
    max-height: 50px;
    overflow: scroll;
    word-wrap: break-word;
    flex-grow: 7;
}

.cardsForAllCategories {
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    text-align: center;
    width: 31%;
    height: 300px;
    border: 1px solid black;
    border-radius: 25px;
    margin: 4px;
    overflow: scroll;
    padding-bottom: 1%;
}

.inputForTodo {
    width: 70%;
    height: 10%;
    margin-bottom: 2%;
}

#todoCategories {
    width: 200px;
}

#inputForTodoCategory {
    width: 40%;
    height: 7%;
    margin: 10px;
    margin-left: 0;
}

.addTodoCategory {
    width: 10%;
    height: 30px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    background-color: #000000;
    border: none;
    color: #ffffff;
}

.pinButtonToggle {
    background-color: #000;
    color: #ffffff;
}

.fa-solid ,.fa-trash ,.fa-solid ,.fa-thumbtack {
    pointer-events: none;
}

.todoCardExpand {
    max-height: fit-content;
}